.task_column_icon{
    width: 30px;
    margin-right: 5px;
}

.task_column_heading{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
} 

.task_column{
    width: 33.33%;
    margin: 20px;
}